flask>=3.0
flask-sqlalchemy>=3.1
flask-apscheduler>=1.13
requests>=2.31
python-dotenv>=1.0
alembic>=1.13
anthropic>=0.40
SQLAlchemy>=2.0
requests-aws4auth>=1.2
beautifulsoup4>=4.12
pytrends>=4.9
pyyaml>=6.0
google-api-python-client>=2.100
google-auth-httplib2>=0.1
google-auth-oauthlib>=1.1
stripe>=12.0
gunicorn>=22.0
